body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lavagna {
    width: 1300px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(207, 178, 178);
    font-family:cursive;
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 30px;
}

h3 {
    font-weight: 800;
}


.post{
    width: 270px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    border: 1px solid black;
    box-shadow: 5px 5px;
}

.it1 {
    background-color: rgb(221, 191, 55);
    transform: rotate(-5deg);
    animation: postItAnimation 5s linear 1s backwards;
}

.it2 {
    background-color: rgb(82, 195, 82);
    transform: rotate(5deg);
    animation: postItAnimation 5s linear 2s backwards;
}

.it3 {
    background-color: rgb(233, 119, 233);
    transform: rotate(-8deg);
    animation: postItAnimation 5s linear 3s backwards;
}

.it4 {
    background-color: rgb(82, 195, 82);
    transform: rotate(10deg);
    animation: postItAnimation 5s linear 4s backwards;
}

.it5 {
    background-color: rgb(233, 119, 233);
    transform: rotate(-15deg);
    animation: postItAnimation 5s linear 5s backwards;
}

.it6 {
    background-color: rgb(221, 191, 55);
    transform: rotate(-5deg);
    animation: postItAnimation 5s linear 6s backwards;
}

.it7 {
    background-color: rgb(82, 195, 82);
    transform: rotate(17deg);
    animation: postItAnimation 5s linear 7s backwards;
}

.it8 {
    background-color: rgba(49, 245, 176, 0.763);
    transform: rotate(9deg);
    animation: postItAnimation 5s linear 8s backwards;
}


.post:hover{
    transform: scale(1.3) rotate(0deg);
}


@keyframes postItAnimation {
    0% {
        scale: 3;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
    
}