.logoNetflix {
    width: 8%;
}



nav {
    width: 100%;
    color: white;
}

#buttonProfilo {
    border: none;
}



.noborder {
    border-radius: 0;
}

.linkFooter {
    text-decoration: none;
    color: gray;
    
}

.fab {
    font-size: 3rem;
}

.col-3 a {
    margin: 20px 0;
}

.imgC:hover {
    transition: transform 2s ease-out;
    transform: scale(2);
    z-index: 0;
}

.carousel-inner {
    overflow: visible;
    position: relative;
    z-index: 1;
}


.menuTenda:hover {
    background-color: rgb(206, 86, 6);
}