.logoNetflix {
    width: 8%;
}



nav {
    color: white;
}

#buttonProfilo {
    border: none;
}



.noborder {
    border-radius: 0;
}

.linkFooter {
    text-decoration: none;
    color: gray;
    
}

.fab {
    font-size: 3rem;
}

.col-3 a {
    margin: 20px 0;
}