<div class="main d-flex justify-content-center align-items-center bg-dark">

  <div class="card p-4">
    <form class="form-group">

      <div class="mb-3">
        <label for="Email">Email</label>
        <input class="form-control" type="email" placeholder="Inserisci la tua email" name="email"
          [(ngModel)]="dati.email">
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input class="form-control" type="password" placeholder="Inserisci la tua password" name="password"
          [(ngModel)]="dati.password">
      </div>

      <div class="mb-3">
        <label for="Nome">Nome</label>
        <input class="form-control" type="text" placeholder="Il tuo Nome" name="name" [(ngModel)]="dati.name">
      </div>

      <div class="mb-3">
        <label for="Cognome">Cognome</label>
        <input class="form-control" type="text" placeholder="Il tuo Cognome" name="surname" [(ngModel)]="dati.surname">
      </div>

      <!-- il bottone nei formModule mi attiva i form -->
      <button class="btn btn-success" (click)="signup()">Registrati</button>

    </form>
    <button class="btn btn-link text-dark" [routerLink]="['/']">Indietro</button>


  </div>
</div>
