form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
}


table{
  width: 300px;
  margin: 50px auto;
  background-color: rgba(226, 167, 143, 0.534);
}

button {
  background-color: rgb(236, 245, 239);

}
