<div class="container">
    <div class="row justify-content-around">

        <div class="col-4">

            <div class="card w-100">
            <img src="https://cdn.shopify.com/s/files/1/0611/9574/7513/articles/spaghetti_bottarga_1100x.jpg?v=1650380711" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Spaghetti alla bottarga</h5>
            <p class="card-text">Gustali al mare la domenica a pranzo</p>
            <a href="#" class="btn btn-primary">Trova un ristorante</a>
            </div>
            </div>

        </div>
        <div class="col-4">

          <div class="card w-100">
          <img src="https://cdn.shopify.com/s/files/1/0611/9574/7513/articles/spaghetti_bottarga_1100x.jpg?v=1650380711" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Spaghetti alla bottarga</h5>
          <p class="card-text">Gustali al mare la domenica a pranzo</p>
          <a href="#" class="btn btn-primary">Trova un ristorante</a>
          </div>
          </div>

      </div>

      <div class="col-4">

        <div class="card w-100">
        <img src="https://cdn.shopify.com/s/files/1/0611/9574/7513/articles/spaghetti_bottarga_1100x.jpg?v=1650380711" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Spaghetti alla bottarga</h5>
        <p class="card-text">Gustali al mare la domenica a pranzo</p>
        <a href="#" class="btn btn-primary">Trova un ristorante</a>
        </div>
        </div>

    </div>




    </div>
</div>
