.account-image {
    width: 30px;
}
.bg-image {
    background-image: url(../imgs/search/image-49.jpg);
    background-size: cover;
}
.bg-container {
    background: #4D3944;
    background: -moz-linear-gradient(top, #4D3944 0%, #000000 29%, #000000 100%);
    background: -webkit-linear-gradient(top, #4D3944 0%, #000000 29%, #000000 100%);
    background: linear-gradient(to bottom, #4D3944 0%, #000000 29%, #000000 100%);
}
.w-img {
    width: 10%;
}
.img-like {
    width: 15%;
}

@media screen and (max-width: 992px) {
    .img-like {
        width: 30px;
    }
}

main {
    overflow-x: hidden !important;
}

.shadow-txt {
    text-shadow: 1px 1px 10px #000000;
}

#imgFriends {
    width: 100%;
}

#imgFriends button {
    height: fit-content;
}