@import './circular-font.css';

/* html, body {
    height: 100%;
} */

body {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
    font-weight: 400;
    font-style: normal;
    height: 100vh !important;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

main {
    height: calc(100vh - 80px) !important;
    overflow: auto;
}

main::-webkit-scrollbar{
    background-color: black;
    width: 10px;
 }
 main::-webkit-scrollbar-thumb{
     background-color: rgb(80, 80, 80);
 }

.padding-from-footer {
    margin-bottom: 80px;
}

footer {
    height: 80px !important;
}

footer .img-player {
    height: 60px;
}

/* PROVA DEL MINUTAGGIOOOOO */

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #ffffff;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #1DB954;
    border: 3px #1DB954;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider {
    width: 220px;
    }
     
    .current-time,
    .total-duration {
    padding: 5px;
    }
     
/* FINEPROVA DEL MINUTAGGIOOOOO */

/* VOLUME MODIFICABILE */

.slider {
    /* slider */
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    /* level */
    --level-color: #fff;
    --level-transition-duration: .1s;
    /* icon */
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
  }
  
  .slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .slider .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto;
  }
  
  .slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
  }
  
  .slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
  }
  
  .slider:hover .level {
    height: calc(var(--slider-height) * 2);
  }


/* FINE VOLUME MODIFICABILE */